---
import { getCollection } from "astro:content";
import ComicCard from "../components/ComicCard.astro";

const products = await getCollection("products");
---

<div class="grid grid-cols-2 gap-12 lg:grid-cols-3">
  {products.length > 0 ? (
    products.map((product) => <ComicCard product={product} />)
  ) : (
    <p class="col-span-full text-center">No hay productos disponibles actualmente.</p>
  )}
</div>