---
import Instagram from "./icons/Instagram.astro";
import Twitter from "./icons/Twitter.astro";
---

<footer class="flex flex-col items-center mt-16 mb-6 footer text-secondary-400">
  <aside class="items-center grid-flow-col">
    <p>Garage Cómics © {new Date().getFullYear()}</p>
  </aside>
  <nav class="flex space-x-2 items-center">
    <a href="https://twitter.com/garagecomics">
      <Twitter />
    </a>
    <a href="https://instagram.com/garagecomics">
      <Instagram />
    </a>
  </nav>
</footer>
