<div class="p-8 mt-12 prose mx-auto rounded-xl bg-amber-100/90">
  <h1 class="text-black">Información Importante</h1>
  <ol class="list-disc text-black marker:text-brand-500">
    <li>
      Recibirás el 100% de las ganancias menos las cuotas de procesamiento de
      pagos (Stripe).
    </li>
    <li>
      El dinero de la ventas de tu cómic se le entregara a la persona que haga
      el registro. La repartición del dinero es totalmente responsabilidad de
      los integrantes del equipo.
    </li>
    <li>
      El evento solo tendrá el permiso de distribución durante la duración del
      mismo. Los derechos de tu cómic son tuyos totalmente.
    </li>
    <li>
      Después de que termine el evento, los cómics ya no estarán disponible para
      comprarse en la página.
    </li>
  </ol>
</div>
