<div class="pt-16 prose mx-auto">
  <h1 class="text-black text-center">REGLAS</h1>
  <ol class="list-disc text-black">
    <li>La convocatoria se abre el 1ero de Mayo y cierra el 15 de Junio.</li>
    <li>Ningún trabajo será admitido después de esta fecha.</li>
    <li>
      La extensión del cómic tiene que ser mínimo de 12 y máximo de 24 páginas.
      La portada y los créditos no se toman en cuenta para el conteo.
    </li>
    <li>El comic puede ser realizado en digital o en tradicional.</li>
    <li>
      Tu comic tiene que ser inédito. No puedes participar con una historia ya
      publicada en digital o en físico (incluso si la publicaste meses antes del
      evento).
    </li>
    <li>
      El cómic puede ser de cualquier género, pero debe ser apto para todo
      público. Por lo tanto, no se acepta contenido gráfico (violencia gráfica o
      verbal, desnudos etc).
    </li>
    <li>Puedes participar solo o en equipo.</li>
    <li>Solo se acepta un proyecto por persona/equipo.</li>
    <li>
      No se acepta ningún trabajo que contenga AI (ni parcial, ni total).
      Cualquier trabajo que sea encontrado con AI será descalificado y bajado al
      momento y el dinero reembolsado a los compradores.
    </li><li>
      No se aceptan trabajos de fan art. Todo comic presentado debe ser original
      y no derivativo.
    </li>
    <li>
      Todo trabajo será vendido en digital, por lo tanto, los archivos
      presentados, deberán ser presentados basándose en las especificaciones
      descritas en el manual que se te entregará una vez tu comic sea aceptado
      para la exposición.
    </li>
    <li>
      Todo trabajo expuesto en esta página sera revisado previamente por los
      organizadores del evento.
    </li>
    <li>
      Se pide a todos los participantes que, una vez terminada el evento,
      guarden su trabajo por 3 meses para crear más flujo e incentivar las
      ventas de su trabajo durante los días de apertura de la página.
    </li>
  </ol>
</div>
