<div class="prose md:my-12">
  <h1 class="text-tia-maria-500">Fechas</h1>
  <div class="divider divider-primary"></div>
  <ol class="list-disc">
    <li>
      Inicio de la convocatoria: <b>1 de Mayo</b>
    </li>
    <li>
      Cierre de la convocatoria: <b>15 de Junio</b>
    </li>
    <li>
      Inicio del evento: <b>1 de Julio</b>
    </li>
    <li>
      Fin del evento: <b>31 de Julio</b>
    </li>
  </ol>
</div>
