---
import "@/styles/global.css";

import { ClientRouter } from "astro:transitions";
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";
---

<html lang="es" data-theme="light" class="bg-brand-500">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Garage Cómics</title>
    <ClientRouter />
  </head>
  <body>
    <main class="mx-auto max-w-4xl px-4">
      <NavBar />
      <slot />
      <Footer />
    </main>
  </body>
</html>
